@model Mocan_Melisa_MariaMVC.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Pet image
        </dt>
        <dd class="col-sm-10">
        <img src="@(Url.Content($"~/images/pets/{Model.Id}.jpg"))"
             onerror="this.onerror=null; this.src='@Url.Content("~/images/noimage.png")';"
             style="max-width:250px; max-height:250px;" />
        </dd>
        <dt class="col-sm-2">
            Pet name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt class = "col-sm-2">
            Pet type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetType)
        </dd>
        <dt class = "col-sm-2">
            Age in months
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeMonths)
        </dd>
        <dt class = "col-sm-2">
            Size
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            Vaccinated
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccinated)
        </dd>
        <dt class = "col-sm-2">
            Health condition
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthCondition)
        </dd>
        <dt class = "col-sm-2">
            Time in shelter(days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeInShelterDays)
        </dd>
        <dt class = "col-sm-2">
            Breed
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreedNavigation.BreedName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
