@model IEnumerable<Mocan_Melisa_MariaMVC.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>Pets</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pet image
            </th>
            <th>
                Pet name
            </th>
            <th>
                Pet type
            </th>
            <th>
                Age in months
            </th>
            <th>
                Size
            </th>
            <th>
                Vaccinated
            </th>
            <th>
                Health condition
            </th>
            <th>
                Time in shelter(days)
            </th>
            <th>
                Breed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="@(Url.Content($"~/images/pets/{item.Id}.jpg"))"
                         onerror="this.onerror=null; this.src='@Url.Content("~/images/noimage.png")';"
                         style="max-width:120px; max-height:120px;" />
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccinated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInShelterDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedNavigation.BreedName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
