@model IEnumerable<Mocan_Melisa_MariaMVC.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccinated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInShelterDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccinated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInShelterDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedNavigation.BreedName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
