@model Mocan_Melisa_MariaMVC.Models.AdoptionRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdoptionRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Desired pet type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredPetType)
        </dd>
        <dt class = "col-sm-2">
            Minimum age months
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinAgeMonths)
        </dd>
        <dt class = "col-sm-2">
            Maximum age months
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAgeMonths)
        </dd>
        <dt class = "col-sm-2">
            Desired size
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredSize)
        </dd>
        <dt class = "col-sm-2">
            User email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            Pet name
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Pet == null)
            {
                <span>Any pet available</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Pet.PetName)
            }
        </dd>
        <dt class = "col-sm-2">
            Request date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
